#majo {
  color: blue;
  font-size: 100px;
  text-align: center;
  background-color: burlywood;
  text-shadow: 5px 5px 1px red;
}
#restrepo {
  background-color: yellow;
}
#ola {
  color: green;
}
#feto {
  background-color: black;
  color: white;
}
#sapo {
  background-color: black;
  color: white;
}
